# Node modules
node_modules/

# Firebase emulators data
firebase-debug.log
firestore-debug.log
storage-debug.log

# Firebase service account keys 
*.json

# Environment files 
.env
.env.*

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db
